<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs'\;
    mermaid.initialize({ startOnLoad: true });
</script>

<script>
const mermaids = document.querySelectorAll(".language-mermaid");
for (const mermaid of mermaids) {
	mermaid.classList.add("mermaid");
}
</script>
